{{ 'component-cart.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  #main-cart-footer {
    --k-checkout-family: {{ section.settings.checkout_font_family | default: 'inherit' }};
    --k-checkout-size: {{ section.settings.checkout_font_size }}px;
    --k-checkout-weight: {{ section.settings.checkout_font_weight }};
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="kefey-cart-footer{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="{{ section.id }}">
  <div class="page-width kefey-cart-shell">
    <div class="cart__footer section-{{ section.id }}-padding">
      <div class="js-contents">
        <div class="kefey-cart-footer-row">
          <div id="cart-errors"></div>
          <button
            type="submit"
            id="checkout"
            class="cart__checkout-button button"
            name="checkout"
            {% if cart == empty %}
              disabled
            {% endif %}
            form="cart"
          >
            {{ 'sections.cart.checkout' | t }}
          </button>
        </div>

        {%- if additional_checkout_buttons -%}
          <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 80,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 56
    },
    {
      "type": "header",
      "content": "Checkout button typography"
    },
    {
      "type": "text",
      "id": "checkout_font_family",
      "label": "Font family",
      "default": "var(--font-heading-family)"
    },
    {
      "type": "range",
      "id": "checkout_font_size",
      "min": 10,
      "max": 48,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 21
    },
    {
      "type": "range",
      "id": "checkout_font_weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "label": "Font weight",
      "default": 700
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
