<section class="kefey-product kefey-product-section kefey-product-section--yellow">
  <div class="page-width kefey-product-final-cta">
    <h2 class="kefey-product__title">{{ section.settings.heading }}</h2>
    <p class="kefey-product__desc">{{ section.settings.subheading }}</p>
    {%- if section.settings.image != blank -%}
      {{ section.settings.image | image_url: width: 920 | image_tag: class: 'kefey-product-final-cta__image', loading: 'lazy', alt: section.settings.heading }}
    {%- endif -%}
    <a class="kefey-product-final-cta__btn" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
  </div>
</section>

{% schema %}
{
  "name": "Product Final CTA Kefey",
  "settings": [
    { "type": "text", "id": "heading", "label": "Heading", "default": "Sometimes, balance is just a tiny joyful bite away." },
    { "type": "text", "id": "subheading", "label": "Subheading", "default": "Feel the shift." },
    { "type": "image_picker", "id": "image", "label": "Image" },
    { "type": "text", "id": "button_label", "label": "Button label", "default": "CHECKOUT NOW" },
    { "type": "url", "id": "button_link", "label": "Button link" }
  ],
  "presets": [{ "name": "Product Final CTA Kefey" }]
}
{% endschema %}
